
<% include partials/header %>
<h1>Add Customer</h1>
<% if(errors !== null){ %>
<ul>
	<% errors.forEach( function(error) { %>
	<li><%= error.msg %></li>
	<% }); %>
</ul>
<% } %>
<form method="POST" action="/users/add">
	<label>First Name</label>
	<input type="text" name="first_name">
	<br>
	<label>Last Name</label>
	<input type="text" name="last_name">
	<br>
	<label>Email</label>
	<input type="text" name="email">
	<br>
	<input type="submit" value="submit">
</form>
<h1><%= title %></h1>
<% users.forEach(function(user){ %>
<li> <%=  user.name %> </li>
<% }); %>
<% include partials/footer %>